<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>website4.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Gamewindowservlet</servlet-name>
    <servlet-class>website4.servlet.Gamewindowservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Game2windowservlet</servlet-name>
    <servlet-class>website4.servlet.Game2windowservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Game3windowservlet</servlet-name>
    <servlet-class>website4.servlet.Game3windowservlet</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>Userinfoservlet</servlet-name>
    <servlet-class>website4.servlet.Userinfoservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Newuserservlet</servlet-name>
    <servlet-class>website4.servlet.Newuserservlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>pmservlet</servlet-name>
    <servlet-class>website4.servlet.pmservlet</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>userasyincservlet</servlet-name>
    <servlet-class>website4.servlet.userasyincservlet</servlet-class>
  </servlet>
<servlet>
    <servlet-name>Game4windowservlet</servlet-name>
    <servlet-class>website4.servlet.Game4windowservlet</servlet-class>
  </servlet>

<servlet>
    <servlet-name>snakeGame</servlet-name>
    <servlet-class>website4.servlet.snakeGame</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>chatasyncservlet</servlet-name>
    <servlet-class>website4.servlet.chatasyncservlet</servlet-class>
  </servlet>
  
  
  <socket>
    <socket-name>Game4scocket</socket-name>
    <socket-class>website4.servlet.Game4scocket</socket-class>
  </socket>
  

	<!-- Servlet mappings    user_asyinc -->
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gamewindowservlet</servlet-name>
    <url-pattern>/Gamewindow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Game2windowservlet</servlet-name>
    <url-pattern>/Game2window</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Game3windowservlet</servlet-name>
    <url-pattern>/Game3window</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Userinfoservlet</servlet-name>
    <url-pattern>/userinfo</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Newuserservlet</servlet-name>
    <url-pattern>/newuser</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>pmservlet</servlet-name>
    <url-pattern>/pmpage</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>userasyincservlet</servlet-name>
    <url-pattern>/user_asyinc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Game4windowservlet</servlet-name>
    <url-pattern>/Game4window</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>snakeGame</servlet-name>
    <url-pattern>/snakeGame</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>chatasyncservlet</servlet-name>
    <url-pattern>/chat_async</url-pattern>
  </servlet-mapping>
 <socket-mapping>
    <socket-name>Game4scocket</socket-name>
    <url-pattern>/Game4scocket</url-pattern>
  </socket-mapping>



  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
